<% if @user.errors %>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      <% end %>

<div class="box">
<h2>User info</h2>

<%= form_with model: @user, url: user_path(current_user.id),  local: true do |f| %>
    <h4>Name</h4>
    <%= f.text_field :name %>
    <h4>Image</h4>
    <%= f.attachment_field :profile_image %>
    <h4>introduction</h4>
      <%= f.text_area :introduction %>
    <%= f.submit 'Update User' %>
<% end %>

</div>