<div class="box">


<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="nav navbar-expand-lg navbar-dark bg-dark" >
        <div class="container">
          <a class="nav navbar-brand" href="/">
            <span class="title">Bookers</span>
          </a>
          <div class="nav navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to user_path(current_user), class:"btn btn-link text-light" do %>
                  <i class="fas fa-home">Home</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-users">Users</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to books_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-book-open">Books</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:"btn btn-link text-light" do %>
                  <i class="fas fa-sign-out-alt">Logout</i>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to root_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-home">Home</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to home_about_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-link">About</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-user-plus">sign up</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class:"btn btn-link text-light" do %>
                  <i class="fas fa-sign-in-alt">login</i>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="body">
      <p class="notice"><%= notice %></p>

      <%= yield %>


        <footer>
          <p class="text-center"> CopyRight Infratop.inc</p>
        </footer>
      </div>
    </div>
  </body>
</html>
